* {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

.d-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}
.d-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.d-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2
}
.d-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2
}
.d-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2
}
.d-6 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

small {
  font-size: .8rem;
  font-style: italic;
}